<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NHGiftAnimationExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A6444CE1D328F5C002A8369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A6444E71D328F5C002A8369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A6444F21D328F5C002A8369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
